/*MenuComponent*/
.nav-menu{
    width: 86.5%;
    border-radius: 0.8em;
    margin: 10px auto 0;
    height: 4.5em;
    margin-bottom: 5vh;
    background-color: white;
    box-shadow: 1px 2px 4px black;
}
@media screen and (max-width: 1300px) {
    .nav-menu{
        width: 85%;
        border-radius: 0.8em;
        margin: 10px auto 0;
        height: 100%;
    }
}

.navbar-brand{
    width: 15%;
}

.nav-client-customer{
    width: 60%;
    margin: auto;
}
@media screen and (max-width: 1300px) {
    .nav-client-customer{
        width: 100%;
    }
}

.nav-item{
    margin: 20px;
    color: black;
    font-weight: 600;
}
.dropdown-menu{
    width: 40%;
}

@media screen and (max-width: 1300px) {
    .item-dropdown{
        margin-left: 10px;
    }
}

.btn-outline-success{
    width: 130px;
}

.container-search{
    width: 30%;
}
@media screen and (max-width: 1300px) {
    .container-search{
        width: 90%;
    }
}

.btn-search{
    background-color: #BFC6FF;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    width: 20vh;
}

/*Button*/
.w-100.btn.btn-lg.btn-warning.mt-4 {
    background-color: #007BFF;
    color: white;
}
/*InformComponent*/
.inform-container{
    width: 90%;
    margin: 10px auto;
    justify-content: end;
}

.flex-container{
    display: flex;
}

.sign-up{
    margin-right: 25px;
}

.login{
    margin-right: 25px;
}

.hello{
    margin-right: 125vh;
}

.my-profile{
    margin-right: 25px;
}

.my-orders{
    margin-right: 25px;
}

/*HomeComponent*/
div.inline{
    display: inline-block;
}

.align-center{
    width: fit-content;
    margin: 0px auto;
}

.text-name-new{
    color: black;
    margin-left: 130px;
}

.text-name-hot{
    color: white;
    margin-left: 130px;
}

.item-picture-new{
    margin-left: 130px;
}

.item-picture-hot{
    margin-left: 130px;
}
.row-main{
    width: 100%;
}

.column-first{
    width: 50%;
}

.heading-1{
    font-size: 55px;
    font-style: oblique;
    color: white;
}

.obama{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.contain-main{
    background-color: #0F1866;
}

.contain-main-new{
    background-color: #BFC6FF;
}
.discover-button{
    background-color: #BFC6FF;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
}

.container-first{
    background-color: #BFC6FF;
}

/*MainComponent*/
.contain-first{
    margin-top: 10vh;
    background-color: #121533;
}
@media screen and (max-width: 1400px) {
    .contain-first{
        height: 125vh;
    }
}

h5{
    margin-left: 19px;
}

.footer-first{
    height: 58vh;
}

/*ActiveComponent*/
.active-container{
    background-color: #F8F0E5;
    max-width: 50vw;
    max-height: 45vh;
    padding: 2rem;
    margin: 18vh auto 2vh;
    border: 1px solid black;
    border-radius: 1rem;
}

/*login-container*/
.login-container{
    background-color: #D3D3D3;
    max-width: 50vw;
    max-height: 46vh;
    padding: 2rem;
    margin: 18vh auto 2vh;
    border: 1px solid black;
    border-radius: 1rem;
}

/*myprofile-container*/
.myprofile-container{
    background-color: #D3D3D3;
    max-width: 50vw;
    max-height: 72vh;
    padding: 2rem;
    margin: 10vh auto 2vh;
    border: 1px solid black;
    border-radius: 1rem;
}

/*signup-container*/
.signup-container{
    background-color: #D3D3D3;
    max-width: 50vw;
    max-height: 72vh;
    padding: 2rem;
    margin: 10vh auto 2vh;
    border: 1px solid black;
    border-radius: 1rem;
}

.navbar-nav-scroll .dropdown-menu.show {
    background-color: #007BFF !important;
}

.navbar-nav-scroll .dropdown-menu.show a {
    color: white !important;
}