/* LoginComponent */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Prata&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Prata&family=Press+Start+2P&display=swap');

:root{
    --primary-color: #0F1866;
    --secondary-color: #BFC6FF;
    --third-color: #D9DDFF;
    --primary-gradient: linear-gradient(to left top, var(--primary-color), var(--secondary-color));

    --font-color-black: #20212A;
    --font-color-white: #EAEDFF;
    --font-color-white-75percent: rgba(234, 237, 255, .75);
    --font-color-white-50percent: rgba(234, 237, 255, .5);

    --font-family-paragraph: 'Crimson Text', Arial, Helvetica, sans-serif;;
    --font-family-header: 'Prata', Arial, Helvetica, sans-serif;;


}
.w-100.btn.btn-lg.btn-warning.mt-4 {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    font-family: var(--font-family-header);
    color: var(--primary-color);
  }

.w-100.btn.btn-lg.btn-warning.mt-4:hover {
    background-color: var(--primary-color);
    color: var(--font-color-white);
    transition: all 0.3s ease-in-out;
}
/*MenuComponent*/
.nav-menu{
    width: 86.5%;
    border-radius: 0.8em;
    margin: 10px auto 0;
    height: 4.5em;
    margin-bottom: 5vh;
    background-color: white;
    border: 1px solid var(--primary-color);
}

@media screen and (max-width: 1300px) {
    .nav-menu{
        width: 85%;
        border-radius: 0.8em;
        margin: 10px auto 0;
        height: 100%;
    }
}

.nav-logo{
    width: 60px;
    border-radius: 0.75em;
}

.nav-client-customer{
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 1300px) {
    .nav-client-customer{
        width: 100%;
    }
}

.nav-item{
    margin: 20px;
    color: black;
    font-weight: 600;
}

.dropdown-menu{
    width: 40%;
}

@media screen and (max-width: 1300px) {
    .item-dropdown{
        margin-left: 10px;
    }
}

.btn-outline-success{
    width: 130px;
}

.container-search{
    width: 30%;
}

@media screen and (max-width: 1300px) {
    .container-search{
        width: 90%;
    }
}

.btn-search{
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: .8em;
    font-size: 15px;
    width: 20vh;
    font-family: var(--font-family-paragraph);
    color: var(--font-color-black);
}

.btn-search:hover{
    background-color: #BFC6FF;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    width: 20vh;
    transition: all 0.3s ease-in-out;
}

.padding-nav{
    padding: 1em .4em;
    font-family: var(--font-family-header);
    font-size: 18px;
    color: var(--font-color-black);
}

.padding-nav:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: var(--primary-gradient);
}

/*InformComponent*/
.inform-container{
    width: 90%;
    margin: 10px auto;
    justify-content: end;
}

.inform-hover{
    color: var(--font-color-black);
    font-family: var(--font-family-header);
    font-size: 14px;
    text-decoration: none;
}

.inform-hover:hover{
    color: var(--secondary-color);
}

.flex-container{
    display: flex;
}

.sign-up{
    margin-right: 25px;
}

.login{
    margin-right: 25px;
}

.hello{
    margin-right: 125vh;
}

.my-profile{
    margin-right: 25px;
}

.my-orders{
    margin-right: 25px;
}

/*HomeComponent*/
div.inline{
    display: inline-block;
}

.align-center{
    width: fit-content;
    margin: 0px auto;
}

.header-product-name{
    color: var(--font-color-black);
    margin-left: 130px;
    margin-bottom: .5em;
    font-family: var(--font-family-header);
}

.item-picture-new{
    margin-left: 130px;
}

.item-picture-hot{
    margin-left: 130px;
}
.row-main{
    width: 100%;
}

.column-first{
    width: 50%;
}

.heading-1{
    font-size: 55px;
    font-style: oblique;
    color: white;
}

.obama{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.contain-main{
    background-color: #0F1866;
}

.contain-main-new{
    background-color: #BFC6FF;
}

.hero-container button{
    background-color: var(--secondary-color);
    padding: 15px 40px;
    border-radius: .7em;
    font-weight: 500;
    font-size: 20px;
    color: var(--font-color-black);
    font-family: var(--font-family-paragraph);
}

.hero-container button:hover{
    background-color: var(--third-color);
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    transition: all ease-in-out .1s;
}

.container-first{
    background-color: #BFC6FF;
}

.hero-container{
    background-color: var(--primary-color);
    margin: 12vh 0;
}

.hero-container h1{
    color: var(--font-color-white);
    font-family: var(--font-family-header);
    font-style: normal;
    font-size: 50px;
}

.hero-container p{
    font-family: var(--font-family-paragraph);
    color: var(--font-color-white-75percent);
}

.new-product-container{
    margin-bottom: 10vh;
}

.product-container-1{
    background-color: var(--secondary-color);
}

.product-container-2{
    background-color: var(--primary-color);
}

/*MainComponent*/
.contain-first{
    margin-top: 10vh;
    background-color: #121533;
}
@media screen and (max-width: 1400px) {
    .contain-first{
        height: 125vh;
    }
}

h5{
    margin-left: 19px;
}

.footer-first{
    height: 58vh;
}

/*ActiveComponent*/
.active-container{
    background-color: var(--secondary-color);
    width: 80vw;
    height: fit-content;
    padding: 2rem;
    margin: 18vh auto 0;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

@media screen and (min-width: 1200px) {
    .active-container{
        width: 50vw;
    }
}

.active-container h1{
    font-family: var(--font-family-header);
    color: var(--font-color-black);
    font-size: 30px;

}

.active-container div input, label{
    font-family: var(--font-family-paragraph);
}

.active-container div label{
    font-size: 18px;
}

/*login-container*/
.login-container{
    background-color: var(--secondary-color);
    width: 80vw;
    height: fit-content;
    padding: 2rem;
    margin: 18vh auto 0;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

@media screen and (min-width: 1200px) {
    .login-container{
        width: 50vw;
    }
}

.login-container h1{
    font-family: var(--font-family-header);
    color: var(--font-color-black);
    font-size: 35px;

}

.login-container div input, label{
    font-family: var(--font-family-paragraph);
}

.login-container div label{
    font-size: 18px;
}

.logo-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.logo{
    width: 100px;
    border-radius: 0.25em;
}

/*myprofile-container*/
.myprofile-container{
    background-color: var(--secondary-color);
    width: 80vw;
    height: fit-content;
    padding: 2rem;
    margin: 18vh auto 0;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

@media screen and (min-width: 1200px) {
    .myprofile-container{
        width: 50vw;
    }
}

.myprofile-container h1{
    font-family: var(--font-family-header);
    color: var(--font-color-black);
    font-size: 35px;

}

.myprofile-container div input, label{
    font-family: var(--font-family-paragraph);
}

.myprofile-container div label{
    font-size: 18px;
}

/*signup-container*/
.signup-container{
    background-color: var(--secondary-color);
    width: 80vw;
    height: fit-content;
    padding: 2rem;
    margin: 18vh auto 0;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

@media screen and (min-width: 1200px) {
    .signup-container{
        width: 50vw;
    }
}

.signup-container h1{
    font-family: var(--font-family-header);
    color: var(--font-color-black);
    font-size: 35px;

}

.signup-container div input, label{
    font-family: var(--font-family-paragraph);
}

.signup-container div label{
    font-size: 18px;
}

.navbar-nav-scroll .dropdown-menu.show {
    background-color: #007BFF !important;
}
.navbar-nav-scroll .dropdown-menu.show li:hover {
    background-color: black !important;
    padding: 5px;
}
.navbar-nav-scroll .dropdown-menu.show a {
    color: white !important;
    font-family: var(--font-family-paragraph);
}

/* FooterComponent */
.text-default-white-70percent{
    font-family: var(--font-family-paragraph);
    color: var(--font-color-white-75percent);
}

.text-default-white-70percent:hover{
    color: var(--font-color-white);
}

/* MyCart */
.table-container{
    background-color: var(--secondary-color);
    height: fit-content;   
    padding: 1em;
}

.tabledata{
    margin: 4em auto 0;
}

.tabledata th{
    font-family: var(--font-family-header);
    color: var(--primary-color);
}

.tabledata td{
    font-family: var(--font-family-paragraph);
    color: var(--font-color-black);
}

.checkout-button{
    background-color: var(--primary-color);
    padding: 0.2em .8em;
    border-radius: .4em;
    font-family: var(--font-family-paragraph);
    color: var(--font-color-white);
}

.checkout-button:hover{
    background-color: var(--secondary-color);
    color: var(--font-color-black);
    transition: all .2s ease-in-out;
}