/* LoginComponent */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Prata&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Prata&family=Press+Start+2P&display=swap');

:root{
    --primary-color: #0F1866;
    --secondary-color: #BFC6FF;
    --primary-gradient: linear-gradient(to left top, var(--primary-color), var(--secondary-color));

    --font-color-black: #20212A;
    --font-color-white: #EAEDFF;
    --font-color-white-50percent: rgba(234, 237, 255, .5);

    --font-family-paragraph: 'Crimson Text', Arial, Helvetica, sans-serif;;
    --font-family-header: 'Prata', Arial, Helvetica, sans-serif;;


}

.login-container{
    background-color: var(--secondary-color);
    width: 80vw;
    height: fit-content;
    padding: 2rem;
    margin: 18vh auto 0;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

@media screen and (min-width: 1200px) {
    .login-container{
        width: 50vw;
    }
}

.login-container h1{
    font-family: var(--font-family-header);
    color: var(--font-color-black);
    font-size: 42px;

}

.logo-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.logo{
    width: 100px;
    border-radius: 0.25em;
}

.form-control:focus {
    border-color: var(--primary-color );
    box-shadow: 0 0 0 0.2rem rgba(15, 24, 102, 0.5);
} 

.login-container div input, label{
    font-family: var(--font-family-paragraph);
}

.login-container div label{
    font-size: 18px;
}

.signin-button{
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    font-family: var(--font-family-header);
    color: var(--primary-color);
}

.signin-button:hover{
    background-color: var(--primary-color);
    color: var(--font-color-white);
    transition: all 0.3s ease-in-out;
}  

/* MenuComponent */
.container-header{
    padding: .5em 2em;
}

.nav-logo{
    width: 60px;
    border-radius: 0.75em;
}

.padding-nav{
    padding: 1em .4em;
    font-family: var(--font-family-header);
    font-size: 15px;
    color: var(--font-color-black);
}

.padding-nav:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: var(--primary-gradient);
}

.logout-button{
    border: 1px solid var(--primary-color);
    font-family: var(--font-family-paragraph);
}

.logout-text{
    color: var(--primary-color);
    font-size: 18px;
}

.logout-button:hover{
    background-color: var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

.logout-text:hover{
    font-size: 18px;
}

/* HomeComponent */
.hero-container{
    background-color: var(--secondary-color);
}

.hero-container h1{
    font-family: var(--font-family-header);
}

.hero-container p{
    font-family: var(--font-family-paragraph);
}

.default-button{
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    font-family: var(--font-family-header);
}

.default-button:hover{
    background-color: var(--primary-color);
    color: var(--font-color-white);
    transition: all 0.3s ease-in-out;
}

.link-text{
    padding: 1em 2em;
}

.link-text:hover{
    color: var(--font-color-white);
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

/* FooterComponent */
.footer-container{
    margin-top: 8em;
    background-color: var(--primary-color);
    padding: 0 2em;
}

.footer-container span{
    color: var(--font-color-white-50percent);
    font-family: var(--font-family-paragraph);
}

.link-footer-text{
    color: var(--font-color-white-50percent);
    font-family: var(--font-family-paragraph);
}

.link-footer-text:hover{
    color: var(--font-color-white);
}

.footer-logo{
    width: 50px;
}

/* CategoryComponent */
.table-container{
    background-color: var(--secondary-color);
    height: fit-content;   
    padding: 1em;
}

.table-container h2{
    font-family: var(--font-family-header);
    color: var(--primary-color);
    padding-top: 1em;
}

.tabledata{
    margin-top: 4em;
}

.tabledata th{
    font-family: var(--font-family-header);
    color: var(--primary-color);
}

.tabledata td{
    font-family: var(--font-family-paragraph);
    color: var(--font-color-black);
}

.tabledata-detail{
    margin-top: 2em;
    padding-left: .5em;
}

.form-container{
    background-color: var(--font-color-white);
    padding: 1em;
    border-radius: 1em;
}

.table-button{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-family: var(--font-family-paragraph);
}

.table-button:hover{
    background-color: var(--primary-color);
    color: var(--font-color-white);
}

/*  */
.datatable-order {
    margin: auto;
}